<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <ul>
            <img src="{{ url_for('static', filename='logo.png') }}">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome to SchoolPay!</h1>
        <p>Your one-stop solution for managing school payments and accounts.</p>
        <a href="/register">Get Started</a>
    </div>
    <footer>
        <p style="text-align: center; margin-top: 20px;">&copy; 2026 StudentPay. All rights reserved. <a href="/about">Learn More</a> <a href="/contact">Contact Us</a></p>
    </footer>
</body>
</html>