<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Login to your account</h1>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form class="register-form" action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required >

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required >

            <button type="submit">Login</button>
            <a href="/register">Don't have an account? Register</a>
        </form>
    </div>
    <footer>
        <p style="text-align: center; margin-top: 20px;">&copy; 2026 SchoolPay. <a href="/about">Learn More</a> <a href="/contact">Contact Us</a></p>
    </footer>
</body>
</html>