<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <a style="position: relative; left: 1%; top: 15px;" class="back-link" href="/register">Back</a>
    <div class="container">
        <h1>Create a Parent Account</h1>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form action="/parent_register" method="post">
            <label class="fadeInUp-animation" for="username">Username:</label>
            <input class="fadeInUp-animation" type="text" name="username" required />

            <label class="fadeInUp-animation" for="password">Password:</label>
            <input class="fadeInUp-animation" type="text" name="password" required />

            <label class="fadeInUp-animation" for="confirm_password">Confirm Password:</label>
            <input class="fadeInUp-animation" type="text" name="confirm_password" required />

            <label class="fadeInUp-animation" for="email">Email:</label>
            <input class="fadeInUp-animation" type="text" name="email" required />

            <label class="fadeInUp-animation" for="address">Address:</label>
            <input class="fadeInUp-animation" type="text" name="address" required />

            <label class="fadeInUp-animation" for="city">City:</label>
            <input class="fadeInUp-animation" type="text" name="city" required />

            <label class="fadeInUp-animation" for="zip">Zip:</label>
            <input class="fadeInUp-animation" type="text" name="zip" required />

            <label class="fadeInUp-animation" for="country">Country:</label>
            <input class="fadeInUp-animation" type="text" name="country" required />

            <label class="fadeInUp-animation" for="dob">Date of Birth:</label>
            <input class="fadeInUp-animation" type="date" name="dob" required />

            <label class="fadeInUp-animation" for="gender">Gender:</label>
            <select class="fadeInUp-animation" name="gender" required>
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
                <option value="non-binary">Non-Binary</option>
            </select>

            <button class="fadeInUp-animation" type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>