<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Register</h1>
        <p>Select the type of account you would like to create.</p>
    </div>
    <div class="register-options">
        <div class="container">
            <img src="static/student.png" alt="Student">
            <img src="static/parent.png" alt="Parent">
            <br>
            <a class="big-button" href="/student_register">Student</a>
            <a class="big-button" href="/parent_register">Parent</a>
            <br><br><a class="button" href="/login">Already have an account? Login</a>
        </div>
</div>
</body>
</html>